{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h1 class="title">Edit customer</h1>

    <form action="{{ url_for('edit_customer', customer_id=customer_id) }}" method="post" class="form">
        <label for="name" class="form__label">Name
            <input type="text" id="name" class="form__input" name="name" placeholder="{{customer.name}}">
        </label>

        <button type="submit" class="form__button">Edit</button>
    </form>

    <a href="{{ url_for('show_customers') }}" class="link">Cancel</a>
</div>

{% endblock %}}
