{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="title">All customers</h1>

        <ul class="list">
            {% for i in customers %}
                <li class="list__item">
                    <h3 class="list__item-title">{{ i.name }}</h3>
                    <div class="list__item-link-container">
                        <a href="{{ url_for('edit_customer', customer_id=i.id) }}" class="list__item-link link">Edit</a>
                        <a href="{{ url_for('delete_customer', customer_id=i.id) }}"
                           class="list__item-link link">Delete</a>
                        <a href="{{ url_for('show_orders', customer_id=i.id) }}" class="list__item-link link">Show
                            orders</a>
                    </div>
                </li>

            {% endfor %}
        </ul>

        <div class="button__container">
            <a href="{{ url_for('create_new_customer') }}" class="button">Create New Customer</a>
        </div>
    </div>
{% endblock %}}
