* {
    margin: 0;
    padding: 0;

    border: 0;

    font-size: 100%;
}

html,
body {
    height: 100%;

    line-height: 1;
    font-family: "Helvetica Neue", sans-serif;
}

input:focus,
textarea:focus,
a:focus {
    outline: none;
    box-shadow: 0 0 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

input, textarea {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0;
}

button {
    border: none;
    background-color: #fff;
}

body {
    font-size: 100%;
}

.wrapper {
    height: 100%;

    padding: 10px 0;
}

.link {
    color: #33AC9F;
    transition: color 0.5s ease;
}

.link:hover {
    color: #2A2E30;
}

.link--align {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.container {
    overflow: hidden;

    position: relative;

    width: 500px;

    margin: 50px auto;
    padding: 40px;

    border: 2px solid rgba(136, 156, 152, 0.5);
}

.title {
    text-align: center;
    font-size: 24px;
    color: #2A2E30;
}

.form {
    position: relative;

    margin-top: 30px;
    margin-bottom: 30px;
}

.form__label {
    font-size: 16px;
    font-weight: 300;
    color: #71CFC7;
}

.form__input-container {
    width: 100%;

    border-bottom: 1px solid rgba(113, 207, 199, 0.5);
}

.form__input-container:nth-child(n+2) {
    margin-top: 30px;
}

.form__input {
    width: 100%;

    padding: 10px 0;

    font-size: 20px;
}

.form__button {
    float: right;
}

.button {
    padding: 8px 25px;
    margin-top: 20px;
    border: 3px solid #33AC9F;

    transition: background-color 0.5s ease,
    color 0.5s ease;

    color: #2A2E30;
}

.button:hover {
    background-color: #33AC9F;
    color: #FFF;
}

.button__container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.list {
    padding: 50px 0;
}

.list__item {
    padding-bottom: 5px;

    border-bottom: 1px solid rgba(113, 207, 199, 0.5);
}

.list__item:nth-child(n+2) {
    margin-top: 30px;
}

.list__item-link-container {
    margin-top: 10px;
}

.list__item-link:nth-child(n+2) {
    margin-left: 10px;
}

.list__item p {
    margin-top: 5px;
}
