{% extends 'base.html' %}

{% block content %}
<h1>Create new order</h1>

<form action="#" method="post">
    <label for="name">Name
        <input type="text" id="name"  placeholder="">
    </label>
    <label for="description">Description
        <input type="text" id="description"  placeholder="">
    </label>
    <label for="manufacturer">Manufacturer
        <input type="text" id="manufacturer"  placeholder="">
    </label>
    <label for="price">Price
        <input type="text" id="price"  placeholder="">
    </label>

    <button type="submit">Create</button>
</form>

<a href="#">Cancel</a>

{% endblock %}}
