{% extends 'base.html' %}

{% block content %}
<h1>Edit the order</h1>

<form action="#" method="post">
    <label for="name">Name
        <input type="text" id="name"  placeholder="">
    </label>
    <label for="description">Description
        <input type="text" id="description"  placeholder="">
    </label>
    <label for="manufacturer">Manufacturer
        <input type="text" id="manufacturer"  placeholder="">
    </label>
    <label for="price">Price
        <input type="text" id="price"  placeholder="">
    </label>

    <button type="submit">Edit</button>
</form>

<a href="{{ url_for('show_orders', customer_id=customer_id) }}">Cancel</a>

{% endblock %}}
