{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="title">All orders</h1>

        <ul class="list">
            {% for i in orders %}
                <li class="list__item">
                {% if (i.name) %}
                    <p>Name: {{ i.name }}</p>
                {% endif %}
                {% if (i.description) %}
                    <p>Description: {{ i.description }}</p>
                {% endif %}
                {% if (i.manufacturer) %}
                    <p>Manufacturer: {{ i.manufacturer }}</p>
                {% endif %}
                {% if (i.price) %}
                    <p>Price: {{ i.price }}</p>
                {% endif %}
                    <div class="list__item-link-container">
                        <a href="{{ url_for('edit_order', customer_id=customer_id, order_id=i.id) }}"
                           class="list__item-link link">Edit</a>
                        <a href="{{ url_for('delete_order', customer_id=customer_id, order_id=i.id) }}"
                           class="list__item-link link">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="button__container">
            <a href="{{ url_for('create_new_order', customer_id=customer_id) }}" class="button">Add new order</a>
            <a href="{{ url_for('show_customers') }}" class="button">Show customers</a>
        </div>
    </div>
{% endblock %}}
