{% extends 'base.html' %}

{% block content %}
<h1>All orders</h1>

<ul>
    {% for i in orders %}
    <li>
        <p>{{ i.name}}</p>
        <p>{{ i.description}}</p>
        <p>{{ i.manufacturer}}</p>
        <p>{{ i.price}}</p>
        <a href="{{ url_for('edit_order', customer_id=i.customer_id, order_id=i.id) }}" class="link">Edit</a>
        <a href="{{ url_for('delete_order', customer_id=i.customer_id, order_id=i.id) }}" class="link">Delete</a>
    </li>
    {% endfor %}
</ul>

<div>
    <a href="{{ url_for('show_customers') }}" class="link">Show customers</a>
</div>

{% endblock %}}
